/* kantumruy-300 - khmer */
@font-face {
  font-family: 'Kantumruy';
  font-style: normal;
  font-weight: 300;
  unicode-range: U+1780-17FF, U+200C, U+25CC;
  src: url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-300.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-300.svg#Kantumruy') format('svg'); /* Legacy iOS */
}

/* kantumruy-regular - khmer */
@font-face {
  font-family: 'Kantumruy';
  font-style: normal;
  font-weight: 400;
  unicode-range: U+1780-17FF, U+200C, U+25CC;
  src: url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-regular.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-regular.svg#Kantumruy') format('svg'); /* Legacy iOS */
}

/* kantumruy-700 - khmer */
@font-face {
  font-family: 'Kantumruy';
  font-style: normal;
  font-weight: 700;
  unicode-range: U+1780-17FF, U+200C, U+25CC;
  src: url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-700.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/kantumruy/fonts/kantumruy-v9-khmer-700.svg#Kantumruy') format('svg'); /* Legacy iOS */
}
